.home-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between; /* Membuat jarak yang lebih baik antara teks dan gambar */
    align-items: center;
    height: 100vh;
    flex-direction: row;
    gap: 20px;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%; /* Membatasi lebar teks agar tidak terlalu panjang */
}

.hello-text {
    font-size: 22px;
    margin-bottom: 10px;
}

.name-text {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap; /* Mencegah teks turun ke baris berikutnya */
}

.role-text {
    font-size: 30px;
    color: #555;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.icon {
    font-size: 24px;
    color: #333;
    transition: color 0.3s;
}

.icon:hover {
    color: #0073b1;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 550px; /* Ukuran gambar sedang */
    height: auto; /* Menjaga rasio gambar */
    border-radius: 50%;
}

/* Responsif untuk perangkat yang lebih kecil */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        text-align: center;
    }

    .image-section {
        margin-top: 20px;
    }
}
